nav(class='navbar navbar-light bg-faded')
	a(href='/', class='navbar-brand', title='Logo marca') WordExpress
	ul(class='nav navbar-nav')
		li(class='nav-item active')
			a(href='/', class='nav-link') Home
				span(class='sr-only') (current)
		li(class='nav-item')
			a(href='/usuarios', class='nav-link') Usuário
		li(class='nav-item')
			a(href='/contatos', class='nav-link') Contatos
		li(class='nav-item')
			a(href='/email', class='nav-link') E-mail
		li(class='nav-item active',)
			a(href='/', class='nav-link') Usuário logado [Sair]
