doctype html
html
	include ./partials/head.jade
	body
		include ./partials/menu.jade

		div(class='container-fluid')

			block content
				
			include ./partials/footer.jade
		script(href='/assets/lib/jquery/dist/jquery.js', type='text/javascript')
		block scripts