extends ../layout

block content
	section(class='centent')
		div(class='col-xs-12 col-md-12')
			div(class='row')
				div(class='jumbotron')
					h1(class='display-3') #{title}
					hr(class='my-y-2')
					p(class='lead') Home CUSTOM Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam excepturi aliquam iste dignissimos numquam repudiandae quisquam, dolorem velit reiciendis non, voluptatum sunt itaque quo corporis ullam at reprehenderit odit. Dolores.
					p(class='lead')
						a(href='#', class='btn btn-success btn-lg' , role='button') Acessar o site
				div(class='col-md-12')
					p teste
					if (messages.info)
						div(class='alert alert-success')= messages.info
