extends ../layout

block content
	h1 Cadastro de usuários
	form(enctype='x-www-form-ulrencoded', method='POST', action='/usuarios/cadastro/', role='form')
		div(class='form-group')
			label(for='fullname') Nome:
			input(type='text', class='form-control', placeholder='Digite seu nome' id='fullname', name='fullname')
		div(class='form-group')
			label(for='email') E-mail:
			input(type='email', class='form-control', placeholder='Digite seu e-mail', id='email', name='email')
		div(class='form-group')
			label(for='password') Senha:
			input(type='password', class='form-control', placeholder='Digite sua senha', id='password', name='password')
		div(class='form-group')
			label(for='confirm-password') Digite novamente sua Senha:
			input(type='password', class='form-control', placeholder='Digite novamente sua senha',  id='confirm-password', name='confirm-password')

		input(type='submit', class='btn btn-success', value='Salva')